<div class="container">
  <div class="btn-container">
    <a href="/" alt="go to add poll page/homepage"><button type="submit" class="btn btn-add">ADD POLL</button></a>
    <a href="/myPolls" alt="go to my polls page"><button class="btn my-polls">MY POLLS</button></a>
    <a href="/allPolls" alt="go to all polls page"><button class="btn my-polls">ALL POLLS</button></a>
  </div>
</div>

<div class="container">
  <div>
    <h3 class="">New poll</h3>
    <form method="post" action="/pollSubmitted" role="form">
      <p>Poll name</p>
      <input class="pollName" type="text" name="pollName" placeholder="PC or Mac">
      <p>Options</p>
      <ul id="options-list">
        <li class="li-option"><input type="text" name="option1" placeholder="PC"></li>
        <li class="li-option"><input type="text" name="option2" placeholder="Mac"></li>
      </ul>
      <button type="button" class="btn btn-add-option">ADD OPTION</button>
      <button type="button" class="btn btn-delete">REMOVE OPTION</button>
      <button class="btn btnSubmit" type="submit">SUMBIT ></button>
    </form>
  </div>
</div>

<script type="text/javascript" src="../controllers/indexController.client.js"></script>
<script type="text/javascript" src="../common/ajax-functions.js"></script>
<script type="text/javascript" src="../controllers/userController.client.js"></script>