<div class="container">

  <div class="btn-container">
    <a href="/allPolls" alt="go to all polls page"><button class="btn login-btn">SEE ALL POLLS</button></a>
  </div>

  <p class="login-text">Login to create your own poll:</p>
  <a href="/auth/github" class="login-link">
    <div class="btn" id="login-btn-github">
      <img src="/public/img/github_32px.png" alt="github logo" />
      <p>LOGIN WITH GITHUB</p>
    </div>
  </a>

  <a href="/auth/google" class="login-link">
    <div class="btn" id="login-btn-google">
      <img src="/public/img/googleplus-32px.png" alt="google logo" />
      <p>LOGIN WITH GOOGLE</p>
    </div>
  </a>

</div>