/********* Fonts **********/

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url('../fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url('../fonts/Roboto-Medium.ttf') format('truetype');
}

/****** Main Styling ******/

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	margin: 0;
	padding: 0;
}

header {
	color: #00BCD4;
	height: 56px;
	margin: 0 0 14px 0;
	text-align: center;
}

p {
	margin: 8px 0 0 0;
}

a, a:link, a:visited, a:hover {
	color: #FFA000;
}

a:visited, a:hover {
	color: #FF9000;
}

.login-link {
	text-decoration: none;
}


.container {
	text-align: center;
	padding: 0;
	margin: 0 auto;
	width: 800px;
	max-width: 90%;
	position: relative;
}

.container:before, .container:after {
	content: "";
  display: table;
}

.container:after {
  clear: both;
}

#options-list, #options-list-myPolls {
	text-align: center;
	list-style-type: none;
	margin: 0 auto;
	padding: 0px;
}

#options-list-myPolls {
	margin-bottom: 10px;
	max-width: 400px;
}

.li-myPolls {
	background-color: #FFA000;
	margin-bottom: 0 auto 10px auto;
	font-family: 'Roboto', sans-serif;
	font-size: 1.25em;
	padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 4px;
}

.input-container {
	max-width: 400px;
	margin: 0 auto 20px auto;
}

.chart-contariner {
	max-width: 300px;
}

input[type=text] {
	font-family: 'Roboto', sans-serif;
	font-size: 1em;
	width: 90%;
	padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 4px;
}

input[type=text]:focus {
		background-color: lightblue;
}

.welcome-space {
	margin-bottom: 87px;
}

#mainLogo {
	margin-bottom: 40px;
}


/****** Header Styling ******/

header p {
	margin: 16px 0 5px 0;
}

.menu {
	text-decoration: none;
	padding: 6px;
	margin: 0;
	color: #727272;
}

.menu:visited {
	color: #727272;
}

.menu:hover {
	color: #FFA000;
}

.menu:active {
	color: #FF630D;
}

header a ~ p {
	margin: 0;
	padding: 0;
	display: inline;
	color: #ECEFF1;
}

#display-name {
	font-weight: 400;
}

.li-myPolls {
	position: relative;
	cursor: pointer;
}

.fa-trash-o {
	position: absolute;
  right: 6px;
}
/****** Login Styling ******/

.login {
	margin: 86px auto 0 auto;
	text-align: center;
}

#login-btn-github{
	background-color: #24292E;
	width: 225px;
	padding: 7px 5px;
}

#login-btn-google{
	background-color: #DC4E41;
	width: 225px;
	padding: 7px 5px;
}

.btn p {
	margin: 8px 0 0 0;
	padding: 0;
}

.btn > img {
	float: left;
	margin-left: 10px
}

.login-text {
	margin-bottom: 10px;
}

/****** Logo Div Styling ******/

img {
	margin: 0 auto;
	display: block;
	border: 0;
}

logo {
	margin-bottom: 20px;
}

.clementine-text { /* Styling for the Clementine.js text */
	padding: 0;
	margin: -25px 0 20px 0;
	font-weight: 500;
	font-size: 60px;
	color: #FFA000;
}

/****** Click Styling ******/

.btn-container {	/* Styling for the div that contains the buttons */
	margin: 0 auto;
	text-align: center;
}

.btn {	/* Styling for buttons */
	margin: 0 8px;
	color: white;
	background-color: #00BCD4;
	display: inline-block;
	border: 0;
	font-size: 16px;
	border-radius: 3px;
	padding: 10px 5px;
	width: 140px;
	font-weight: 500;
	font-family: 'Roboto', sans-serif;
	margin-bottom: 10px;
	cursor: pointer;
}

.addOptionAndSumbit {
	text-align: center;
}

.btn:focus {	/* Remove outline when hovering over button */
	outline: none;
}

.btn:active {	/* Scale the button down by 10% when clicking on button */
	transform: scale(0.9, 0.9);
	-webkit-transform: scale(0.9, 0.9);
	-moz-transform: scale(0.9, 0.9);
}


#click-nbr {
	font-weight: 400;
}

.login-btn {
	width: 200px;
}

/****** Profile Styling ******/

.profile {
	width: 350px;
	height: 200px;
	border-radius: 3px;
	margin: 86px auto 0 auto;
	background-color: #EEE;
	text-align: center;
	color: #000;
}

.profile p:first-child {
	padding-top: 16px;
}

.profile p:nth-child(5) {
	margin-bottom: 16px
}

.profile p {
	margin: 0 0 0 16px;
	text-align: left;
}

.profile-value {
	font-weight: 400;
}

span {
	font-weight: 500;
}

.profile > img {
	padding-top: 16px;
	margin-bottom: 16px;
}

.profile .menu:hover {
	color: #FFA000;
}

.profile .menu:active {
	color: #FF630D;
}

#profile-picture {
	width: 50px;
	height: 50px;
}

#menu-divide {
	color: #FFFFFF;
	display: inline;
	margin: 0;
}