
<p>Object:</p>{{result}}
<p>Requested page:</p>{{reqRoute}}

<canvas id="myChart" width="400" height="400"></canvas>

<script type="text/javascript" src="../../common/Chart.min.js"></script>
<script id="barChart" type="text/x-handlebars-template" src="../../common/bar-chart.js"></script>
<script type="text/javascript" src="../../common/ajax-functions.js"></script>
<script type="text/javascript" src="../../controllers/userController.client.js"></script>

